/*
 * Normalize some basic styles across different browsers
 */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/*
   * Set some general styles for the entire page
   */
html,
body {
  height: 100%;
  box-sizing: border-box;
}

/*
   * Remove default styling from links
   */
a {
  text-decoration: none;
  color: inherit;
}

/*
   * Basic styling for headings
   */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-weight: bold;
}

/*
   * Basic styling for paragraphs
   */
p {
  margin: 0.5em 0;
  line-height: 1.5;
}

/*
   * Add some spacing around images
   */
img {
  margin: 10px;
}

/*
   * Set a base font size for easier responsiveness
   */
html {
  font-size: 62.5%;
}

/* Styling grid */

.headline {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.box {
  border-radius: 10px;
  background-color: #7ccaf8;
  border: 1px solid gray;
  width: 50px;
  height: 50px;
}

/* Media */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
